<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/estilos.css")
    body
     .page
      h1 Diseño de un Boton.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, tempore reprehenderit! Adipisci iusto ad voluptates ipsam, recusandae, sint cumque itaque optio quae vel eveniet! Cum animi error pariatur maiores ipsum.
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus praesentium temporibus, quidem ab totam dignissimos laudantium ullam eligendi et fuga. Libero ipsa corporis impedit, adipisci debitis asperiores id natus magnam?
      a.boton(href="#") Suscribirse
      p colocar el cursor sobre el boton y cliquear.